<nav class="sidebar sidebar-offcanvas" id="sidebar" aria-labelledby="sidebar">
    <ul class="nav">

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="modules">
                <span class="menu-title">Modules</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/admin" target="_blank">
                <span class="menu-title">Go To Admin Panel</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/user" target="_blank">
                <span class="menu-title">Go To User Panel</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>

    </ul>
</nav>
