<div class="content-wrapper">

    <div class="page-header">

        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-email"></i>
            </span>
            View Email Template
        </h3>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item"><a routerLink="/admin/email-templates">Email Templates</a></li>
                <li class="breadcrumb-item">View Email Template</li>
            </ol>
        </nav>

    </div>

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-description">
                        View Email Template
                    </p>

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label>Email Title:</label>
                            <input class="form-control" type="text" value="{{emailTemplate.title}}" readonly>
                        </div>
                        <div class="form-group">
                            <label>Email Subject:</label>
                            <input class="form-control" type="text" value="{{emailTemplate.subject}}" readonly>
                        </div>
                        <div class="form-group">
                            <label>Email Template Content:</label>
                            <pre innerHTML="{{emailTemplate.template}}"></pre>
                        </div>
                        <div class="form-group">
                            <label>Tag description:</label>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Tag</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="!emailTemplate.tag_desc">
                                        <td colspan="2">
                                            <h4 class="text-center">Tags not available.</h4>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let item of emailTemplate.tag_desc">
                                        <td>{{item.tag}}</td>
                                        <td>{{item.desc}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <a routerLink="/admin/email-templates" type="reset" class="btn btn-default">Back</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>



